<script>
    import MultiSelect from 'svelte-multiselect';
    import Chart from "chart.js/auto";
    import 'chartjs-adapter-date-fns';
    import { onMount } from "svelte";

    export let endpoint;
    let socket;
    let ctx;
    let chartCanvas;
    let tickerFilter = [];
    let tickerFilterSelected = [];
    let chart;

    onMount(() => {
        initChart()
        initWebSocket()
    })

    function initWebSocket() {
        socket = new WebSocket(endpoint)
        socket.addEventListener("open", () => {
            console.log("Opened endpoint: " + endpoint)
        })
        socket.addEventListener("message", (event) => {
            const newData = JSON.parse(event.data);
            const timeStamp = new Date(newData.timestamp * 1000);
            for (let tickerName in newData.stock_prices) {
                let dataSetFound = false
                chart.data.datasets.forEach( (ds) => {
                    if (ds.label === tickerName) {
                        if (typeof ds.data === 'undefined') {
                            ds.data = []
                        }
                        ds.data.push({x: timeStamp, y: newData.stock_prices[tickerName]})
                        ds.hidden = tickerFilterSelected.indexOf(ds.label) === -1
                        dataSetFound = true
                    }
                })
                if (!dataSetFound) {
                    chart.data.datasets.push({
                        label: tickerName,
                        borderColor: 'rgb(' + Math.floor(Math.random() * 255) + ', ' + Math.floor(Math.random() * 255) + ', ' + Math.floor(Math.random() * 255) + ')',
                        data: [{x: timeStamp, y: newData.stock_prices[tickerName]}],
                        hidden: tickerFilterSelected.indexOf(tickerName) === -1,
                    })
                    tickerFilter.push(tickerName)
                    tickerFilter = tickerFilter
                }
            }
            chart.update()
        })
    }

    function initChart() {
        ctx = chartCanvas.getContext('2d');
        chart = new Chart(ctx, {
            type: 'line',
            data: {
                datasets: []
            },
            options: {
                scales: {
                    x: {
                        type: 'timeseries',
                    }
                }
            }
        });
    }
    function stopDataFetch() {
        socket.close()
    }
    function startDataFetch() {
        initWebSocket()
    }

    function tickerFilterChange(e) {
        alert(e.detail);
    }

</script>

<main>
    <h1>Ticker from {endpoint}!</h1>
</main>
<MultiSelect bind:selectedLabels={tickerFilterSelected} options={tickerFilter} on:change={(event)=> console.log(tickerFilterSelected)}/>
<button on:click={startDataFetch}>Start</button>
<button on:click={stopDataFetch}>Stop</button>
<canvas bind:this={chartCanvas} id="tickerChart"></canvas>

<style>
    main {
        text-align: center;
        padding: 1em;
        max-width: 240px;
        margin: 0 auto;
    }

    h1 {
        color: #ff3e00;
        text-transform: uppercase;
        font-size: 4em;
        font-weight: 100;
    }

    @media (min-width: 640px) {
        main {
            max-width: none;
        }
    }
</style>